<div class="card">
  <h3 class="card__heading">Parent Education</h3>
  <p class="card__content">
    Many social problems could be fixed with proper parent education. Just
    because someone has a child doesn’t mean they know how to deal with the
    challenges of raising it. We offer education programs that equip parents to
    become more effective in caring for their children.
  </p>
</div>
<div class="card">
  <h3 class="card__heading">Parent Education</h3>
  <p class="card__content">
    Many social problems could be fixed with proper parent education. Just
    because someone has a child doesn’t mean they know how to deal with the
    challenges of raising it. We offer education programs that equip parents to
    become more effective in caring for their children.
  </p>
</div>
