:root {
  --color-primary: #111;
  --color-secondary: #fff;
  --color-accent: #ffe800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* FONTS */
html {
  font-size: 62.5%;
}

body {
  font-family: "PT Serif", serif;
  color: var(--color-primary);
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: var(--color-secondary);
}

/* Hamburger Icon */
.hamburger-icon {
  display: inline-block;
  cursor: pointer;
}

.bar {
  width: 28px;
  height: 3px;
  background-color: black;
  margin: 8px 0;
  transition: transform 0.4s;
}

.collapsible--open .bar1 {
  transform: translateY(11px) rotate(45deg);
}

.collapsible--open .bar2 {
  opacity: 0;
}

.collapsible--open .bar3 {
  transform: translateY(-11px) rotate(-45deg);
}
